{
  "extends": "airbnb",
   "plugins": [
    "jest"
  ],
   "rules": {
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/valid-expect": "error",
    "jsx-a11y/anchor-is-valid": [ "error", { "components": [ "Link" ], "specialLink": [ "to" ] } ]
  },
  "env": {
    "jest": true,
    "browser": true
  }
}