<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <link href="/style.css" type="text/css" rel="stylesheet" />
    <base href="/" />
  </head>
  <body>
    <header id="header"></header>
    <nav id="main-nav"></nav>
    <div id="sub-header"></div>
    <div id="blogs"></div>
    <div id="container"></div>
    <script src="/bundle.js"></script>
  </body>
</html>